.alert {
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    border-radius: $border-radius;
    &.alert-danger {
        border: .1rem solid $alert-danger-color;
        background-color: #ff000044;
        color: $alert-danger-color;
    }
    &.alert-success {
        border: .1rem solid $alert-sucess-color;
        background-color: #18cc004d;
        color: $alert-sucess-color;
    }
}
