$darkness-ammount: 50;
$lightness-ammount: 40;
$neutro-color: #ebebeb;
$primary-color: rgb(184, 19, 19);
$primary-color-darkness: darken( $primary-color, $darkness-ammount * .15);
$primary-color-lightness: lighten( $primary-color, $lightness-ammount);
$secondary-color: darken( $neutro-color, 20);
$terciary-color: #00000033;
$alert-sucess-color: #3c763d;
$alert-sucess-color-darkness: darken( $alert-sucess-color, $darkness-ammount);
$alert-sucess-color-lightness: lighten( $alert-sucess-color, $lightness-ammount);
$alert-danger-color: #ff0000;
$alert-danger-color-darkness: darken( $alert-danger-color, $darkness-ammount);
$alert-danger-color-lightness: lighten( $alert-danger-color, $lightness-ammount - 10);
$bt-action-edit-color: #1100ff;
$bt-remove-edit-color: #ff0000;
$border-radius: .3rem;
$border: 1px solid $secondary-color;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    font-size: 62.5% !important;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 1.6rem !important;
    background-color: $neutro-color;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: #000;
}
input,
select,
button {
    outline: none;
    border: none;
    background: transparent;
}
button {
    cursor: pointer;
}
main {
    display: flex;
    width: 100%;
    height: 90%;
}
::-webkit-scrollbar {
    background: transparent;
    width: 6.5px;
    height: 6.5px;
}
::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
}
