.actions-form {
    display: flex;
    gap: 1rem;
    &.table {
        position: relative;
        height: 100%;
    }
}
.bt-action {
    border-radius: $border-radius;
    transition: .3s;
    &.form {
        padding: 1rem 1.5rem;
        &.primary {
            background-color: $primary-color;
            color: #fff;
            &:hover {
                background-color: $primary-color-darkness;
                color: #fff;
            }
        }
    }
    &.table {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .3rem;
        &.bt-remove {
            background-color: #ff00004f;
            color: $bt-action-remove-color;
            border: .01rem solid $bt-action-remove-color;
        }
        &.bt-edit {
            background-color: #1100ff41;
            color: $bt-action-edit-color;
            border: .01rem solid $bt-action-edit-color;
        }
        &.bt-list {
            background-color: #1100ff41;
            color: $bt-action-list-color;
            border: .01rem solid $bt-action-list-color;
        }
    }
}
