.fill-inputs {
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    .input-box {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        width: 100%;
        &.input-position-left {
            float: left;
            width: 48%;
        }
        &.input-position-right {
            float: right;
            width: 48%;
        }
        input,
        select {
            font-size: 1.4rem;
            letter-spacing: .1rem;
            width: 100%;
            padding: 1rem 2rem;
            z-index: 5;
            color: #fff;
            accent-color: $primary-color;
        }
        select {
            background-color: $primary-color;
            border-radius: $border-radius;
        }
        label {
            position: absolute;
            pointer-events: none;
            font-size: 1.5rem;
            z-index: 10;
            transition: .3s;
            color: #000;
        }
        i {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background-color: $primary-color;
            border-radius: $border-radius;
            transition: .3s;
        }
        input:valid~label,
        input:focus~label,
        select:valid~label,
        select:focus~label {
            transform: translateY(-2.5rem) scale(.9);
        }
        input:valid~i,
        input:focus~i,
        select:valid~i,
        select:focus~i {
            height: 100%;
        }
    }
    button {
        padding: 1rem 3rem;
        background-color: $primary-color;
        color: #fff;
        transition: .3s;
        border-radius: $border-radius;
        float: right;
        font-size: 1.4rem;
        &:hover {
            background-color: $primary-color-darkness;
        }
    }
    .checkbox-box {
        justify-content: left;
        label {
            position: relative;
        }
        input {
            width: 1.5rem;
            &:checked {
                background-color: $primary-color;
            }
        }
    }
}
