.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 5rem;
    font-size: 1.4rem;
    .logo {
        color: #fff;
    }
    .header-actions {
        display: flex;
        height: 100%;
        .profile-parent {
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: 1.4rem;
            height: 100%;
            .profile-item-children {
                transition: .3s;
                &.header {
                    display: flex;
                    position: relative;
                    align-items: center;
                    height: 100%;
                    padding: 0 2.5rem;
                }
                &.itens {
                    position: absolute;
                    display: none;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    box-shadow: 0 10px 1rem $box-shadow-rgba;
                    .item {
                        width: 100%;
                        padding: 1.5rem 2rem;
                        background-color: $primary-color;
                        text-align: center;
                        transition: .3s;
                        &:hover {
                            background-color: $primary-color-darkness;
                        }
                    }
                    a {
                        width: 100%;
                        color: #fff;
                        p {
                            justify-content: center;
                        }
                    }
                }
            }
            &:hover .profile-item-children {
                &.header {
                    background-color: $primary-color-darkness;
                }
                &.itens {
                    display: flex;
                }
            }
        }
    }
}
