.icon-content {
    display: flex;
    align-items: center;
    .material-symbols-outlined {
        font-size: 2rem;
    }
    &.rigth {
        .material-symbols-outlined {
            margin-left: .3rem
        }
    }
    &.left {
        .material-symbols-outlined {
            margin-right: .3rem
        }
    }
}
