#login {
    .carregando {
        max-width: 60%;
        background-color: $primary-color;
        color: #fff;
        border: none;
        box-shadow: 0 0 2rem $primary-color-darkness;
    }

    .session-login {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: $primary-color;

        .login-content {
            box-shadow: 0 0 1rem rgba($color: #fff, $alpha: 1.0);
            position: relative;
            display: flex;
            flex-direction: column;
            width: 80%;
            max-width: 40rem;
            padding: 3rem;
            background-color: #fff;
            border-radius: $border-radius;

            .fill-inputs {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                margin-bottom: 2rem;

                .input-box {
                    margin-bottom: 0;
                }
            }

            .form-header {
                text-align: center;
            }

            .actions-form {
                padding: 1.2rem 0;
                justify-content: center;

                .bt-action {
                    border-radius: 1rem;
                }
            }
        }

    }

    .bg-image {
        background-image: url("../assets/imgs/Malharia.jpeg") !important;
        filter: blur(7px);
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
    }
}