.pc-header {
    .bt-action.toggle {
        background-color: $primary-color-lightness;
        cursor: not-allowed;

        &.valid {
            background-color: $primary-color;
            cursor: pointer;

            &:hover {
                background-color: $primary-color-darkness;
            }
        }

        &:hover {
            background-color: $primary-color-lightness;
        }
    }


}

.pc-mapa {
    padding: 4rem;
    overflow-y: auto;
    position: relative;

    #maquina-info-content {
        position: fixed;
        display: none;
        flex-direction: column;
        gap: 1rem;
        right: 4rem;
        bottom: 4rem;
        padding: 2rem;
        max-width: calc(100% - 8rem);
        background-color: #fff;
        border: $border;
        border-radius: $border-radius;
        z-index: 200;
        overflow: auto;

        &.active {
            display: flex;
        }

        #bt-guardar-maquina {
            display: none;

            &.active {
                display: flex;
            }
        }

        .close-info {
            position: absolute;
            right: 1rem;
            top: 1rem;
            cursor: pointer;
        }
    }

    .pc-conteudo {
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding: 0 !important;
        margin-top: 4rem;

        form {
            width: 100%;
            height: 100%;
        }

        #mapa-content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .maquinas {
                position: absolute;
                justify-content: center;
                cursor: move;
                z-index: 150;

                .mc-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    pointer-events: none;
                }

                .active {
                    position: absolute;
                    opacity: .7;
                }
            }

            .listas-maquinas {
                position: relative;
                width: 100%;
                height: 100%;
            }

            #mapa-box {
                height: 100%;
                overflow-y: auto;
                overflow-x: auto;
                z-index: 90;
                padding: 3rem;

                #mapa {
                    border: $border;
                    border-radius: $border-radius;
                }
            }

            #inventario {
                border-top: $border;
                z-index: 100;
                background-color: #fff;

                .listas-maquinas {
                    position: relative;
                    padding: 1rem;
                    align-items: center;
                    display: flex;
                    gap: 10px;
                    overflow-x: auto;

                    .maquinas {
                        position: relative;
                        height: 4.45rem;
                        width: 4.45rem;
                    }
                }
            }
        }
    }
}