#painel-comando {
    position: relative;
    padding: 4rem;
    padding-left: 10rem;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 5;
    .conteudo {
        width: 100%;
        background-color: #fff;
        border-radius: $border-radius;
        padding: 3rem;
        display: none;
        border: $border;
        .conteudo-header {
            margin-bottom: 1rem;
            letter-spacing: .01rem;
            font-size: 1.8rem;
        }
    }
}
