@media screen and (max-width: 1200px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {
    main {
        display: block;
        #barra-lateral {
            display: none;
            width: 100%;
            height: auto;
            border-right: none;
            border-bottom: $border;
            &.active {
                display: flex;
            }
        }
    }
}
@media screen and (max-width: 675px) {
    .fill-inputs {
        .input-box {
            width: 100% !important;
            float: none !important;
        }
    }
}
@media screen and (max-width: 550px) {
    header {
        h1 {
            font-size: 1.8rem;
        }
    }
}
@media screen and (max-width: 437px) {
    header {
        h1 {
            font-size: 1.6rem;
        }
    }
}
