table,
td,
th,
tr {
    border: $border;
}
table {
    width: 100%;
    border-radius: $border-radius;
    border-collapse: collapse;
    td,
    th {
        padding: .5rem 1rem;
    }
    thead {
        background-color: #dadada;
    }
}
