.tooltip-content {
    position: relative;
    .tooltip {
        position: absolute;
        text-align: center;
        visibility: hidden;
        min-width: 7rem;
        bottom: 150%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.2rem;
        padding: 1rem;
        border-radius: $border-radius;
        background-color: $primary-color;
        color: #fff;
        box-shadow: 0 0 1rem $box-shadow-rgba;
        pointer-events: none;
        z-index: 500;
        opacity: 0;
        transition: opacity .3s;
        &::after {
            content: "";
            position: absolute;
            background-color: $primary-color;
            width: 15px;
            height: 15px;
            left: 50%;
            transform: translate(-50%, 140%) rotate(45deg)
        }
    }
    &:hover {
        .tooltip {
            visibility: visible;
            opacity: 1;
        }
    }
}
