* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    font-size: 65.2% !important;
}
body {
    height: 100vh;
    font-size: 1.6rem !important;
    background-color: #ebebeb;
}
a {
    text-decoration: none;
}
input,
select,
button {
    outline: none;
    border: none;
    background: transparent;
}
button {
    cursor: pointer;
}
#cabecalho {
    padding: 2rem 5rem;
    width: 100%;
}
#carregando {
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    border-radius: .5rem;
    border: .1rem solid #b6b6b6;
    padding: 1rem 0;
    text-align: center;
}
#conteudo {
    display: none;
}
.alert {
    padding: 1rem;
    width: 100%;
    border-radius: .5rem;
}
.alert.alert-danger {
    border: .1rem solid #ff0000;
    background-color: #ff000044;
    color: #ff0000;
}
main {
    position: relative;
    display: flex;
    width: 100%;
}
.line-division {
    height: 1px;
    width: 100%;
    margin: 2rem auto;
    background-color: #00000033;
}

/* Barra Lateral */

#barra-lateral {
    display: block;
    width: 25%;
    background-color: #fff;
    border-right: .1rem solid #00000033;
    bottom: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
}
.barra-lateral-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto !important;
}
.item-children {
    cursor: pointer;
}
.item-children.header {
    margin: 1rem 2rem;
}
.item-children.itens {
    height: 0;
    overflow: hidden;
    padding-left: 2rem;
    transition: height 2s;
}
.item-children.itens.active {
    margin: 1rem 2rem;
    height: auto;
}

/* Painel de Comando */

#painel-comando {
    width: 100%;
    overflow-y: auto;
}
