RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Options -Indexes
RewriteRule ^src/ -[F]
RewriteRule ^public/ -[F]
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]